<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="storiesCount" value="100" />
    <add key="googleTrendsUrl" value="https://www.google.com/trends" />
    <add key="outputDir" value=".\" />
    <add key="filename" value=""/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>